<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>All-in-one Monitor</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Physton">
    <meta name="email" content="physton@163.com">
    <link href="./assets/sample-bootstrap5-dark-mode/assets/css/soft-ui-dashboard.min.css" rel="stylesheet">
    <link href="./assets/sample-bootstrap5-dark-mode/assets/css/dark-theme-core.css" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">
</head>
<body class="g-sidenav-show dark-page" >

<div id="app">
    <main class="main-content position-relative border-radius-lg pb-4" :style="backgroundStyle">
        <div id="fullscreen-button" @click="onClickFullScreen()" title="全屏/退出全屏">
            <svg t="1710853060565" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1453" width="200" height="200"><path d="M368.896 192H224a32 32 0 0 0-32 32v137.888a32 32 0 0 0 64 0V256h112.896a32 32 0 0 0 0-64zM784.864 192H640a32 32 0 1 0 0 64h112.864v105.888a32 32 0 1 0 64 0V224a32 32 0 0 0-32-32zM368.896 777.92H256V672a32 32 0 1 0-64 0v137.92a32 32 0 0 0 32 32h144.896a32 32 0 1 0 0-64zM784.864 640a32 32 0 0 0-32 32v105.92H640a32 32 0 1 0 0 64h144.864a32 32 0 0 0 32-32V672a32 32 0 0 0-32-32z" fill="#ffffff" p-id="1454"></path><path d="M912 48h-800c-35.296 0-64 28.704-64 64v800c0 35.296 28.704 64 64 64h800c35.296 0 64-28.704 64-64v-800c0-35.296-28.704-64-64-64z m-800 864v-800h800l0.064 800H112z" fill="#ffffff" p-id="1455"></path></svg>
        </div>

        <div v-if="isShowLogin" class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                    <h3 class="font-weight-bolder text-info text-gradient">
                        All-in-one Monitor
                    </h3>
                </div>
                <div class="card-body">
                    <form ref="loginForm" role="form" method="post" action="">
                        <label>用户名</label>
                        <div class="mb-3">
                            <input @keydown.enter="onClickLogin" type="text" name="username" placeholder="" class="form-control" v-model="loginData.username" required="">
                        </div>
                        <label>密码</label>
                        <div class="mb-3">
                            <input @keydown.enter="onClickLogin" type="password" name="password" placeholder="" class="form-control" v-model="loginData.password" required="">
                        </div>
                        <div class="text-center">
                            <button @click="onClickLogin" type="button" class="btn bg-gradient-info w-100 mt-4 mb-0">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div v-if="!isShowLogin" class="container-fluid pt-0">
            <div class="row justify-content-between">
                <div class="row col-lg-4 mt-4 justify-content-between" v-if="data.homeassistant">
                    <h5 class="font-weight-bolder">Home Assistant</h5>
                    <div v-for="item in data.homeassistant" :key="item.id" class="col m-1 p-0">
                        <div class="card" :style="{backgroundColor: cardBackgroundColor}">
                            <div class="card-body p-2 text-center">
                                <h6 class="text-sm mb-0 text-capitalize text-nowrap font-weight-bold">{{ item.title }}</h6>
                                <hr class="horizontal dark my-1">
                                <div class="font-weight-bolder mb-0 text-nowrap text-base">
                                    {{ item.value }}
                                    <span class="text-sm" v-if="item.unit">{{ item.unit }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-4" v-if="data.addresses">
                    <h5 class="font-weight-bolder">网络服务运行状态</h5>
                    <div class="card" :style="{backgroundColor: cardBackgroundColor}">
                        <div class="card-body p-1">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="p-1 px-1 text-center text-xxs font-weight-bolder">服务</th>
                                        <th class="p-1 px-1 text-start text-xxs font-weight-bolder">本地</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">本地延迟</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">本地端口</th>
                                        <th class="p-1 px-1 text-center text-xs font-weight-bolder">公网</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">公网延迟</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">公网端口</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(address, index) in data.addresses" :key="index">
                                        <td class="p-0 px-1 text-center">
                                            <span class="text-sm text-white">{{ address.name }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-start">
                                            <span class="text-sm text-white">{{ address.local }}:{{ address.local_port }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: address.local_timeout_format.color}">{{ address.local_timeout_format.value }} {{ address.local_timeout_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: address.local_port_format.color}">{{ address.local_port_format.value }} {{ address.local_port_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-center">
                                            <span class="text-sm text-white">{{ address.public_port }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: address.public_timeout_format.color}">{{ address.public_timeout_format.value }} {{ address.public_timeout_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: address.public_port_format.color}">{{ address.public_port_format.value }} {{ address.public_port_format.unit }}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-4 mt-4 justify-content-between">
                    <h5 class="font-weight-bolder">Proxmox VE 运行状态</h5>
                    <div v-for="item in pve" :key="item.title" class="col m-1 p-0">
                        <div class="card" :style="{backgroundColor: cardBackgroundColor}">
                            <div class="card-body p-2 text-center">
                                <h6 class="text-sm mb-0 text-capitalize text-nowrap font-weight-bold">{{ item.title }}</h6>
                                <hr class="horizontal dark my-1">
                                <div class="font-weight-bolder mb-0 text-nowrap text-base" :style="{color: item.color}">
                                    {{ item.value }}
                                    <span class="text-sm" v-if="item.unit">{{ item.unit }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-4" v-if="data.pve_qemus">
                    <h5 class="font-weight-bolder">虚拟机运行状态</h5>
                    <div class="card" :style="{backgroundColor: cardBackgroundColor}">
                        <div class="card-body p-1">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="p-1 px-1 text-center text-xxs font-weight-bolder">状态</th>
                                        <th class="p-1 px-1 text-center text-xxs font-weight-bolder">ID</th>
                                        <th class="p-1 px-1 text-start text-xs font-weight-bolder">名称</th>
                                        <th class="p-1 px-1 text-center text-xs font-weight-bolder">类型</th>
                                        <th class="p-1 px-1 text-center text-xs font-weight-bolder">CPU核心</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">CPU占用</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">内存总量</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">内存占用</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">流入流量</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">流出流量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(pve_qemu, index) in data.pve_qemus" :key="index">
                                        <td class="p-0 px-1 text-center">
                                            <span v-if="pve_qemu['status'] === 'running'" class="text-sm" :style="{color: color_green}">running</span>
                                            <span v-else class="text-sm" :style="{color: color_red}">{{ pve_qemu['status'] }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-center">
                                            <span class="text-sm text-white">{{ pve_qemu.vmid }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-start">
                                            <span class="text-sm text-white">{{ pve_qemu.name }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-center">
                                            <span class="text-sm text-white">{{ pve_qemu.type }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-center">
                                            <span class="text-sm text-white">{{ pve_qemu.maxcpu }} 核</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: pve_qemu.cpu_format.color}">{{ pve_qemu.cpu_format.value }} {{ pve_qemu.cpu_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: pve_qemu.maxmem_format.color}">{{ pve_qemu.maxmem_format.value }} {{ pve_qemu.maxmem_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: pve_qemu.mem_format.color}">{{ pve_qemu.mem_format.value }} {{ pve_qemu.mem_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: pve_qemu.netin_format.color}">{{ pve_qemu.netin_format.value }} {{ pve_qemu.netin_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: pve_qemu.netout_format.color}">{{ pve_qemu.netout_format.value }} {{ pve_qemu.netout_format.unit }}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-4" v-if="data.dsm_storage">
                    <h5 class="font-weight-bolder">DSM磁盘存储状态</h5>
                    <div class="card" :style="{backgroundColor: cardBackgroundColor}">
                        <div class="card-body p-1">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="p-1 px-1 text-center text-xxs font-weight-bolder">ID</th>
                                        <th class="p-1 px-1 text-start text-xs font-weight-bolder">型号</th>
                                        <th class="p-1 px-1 text-start text-xs font-weight-bolder">序列号</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">容量</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">温度</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">读取</th>
                                        <th class="p-1 px-1 text-end text-xs font-weight-bolder">写入</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(disk, index) in data.dsm_storage.data.disks" :key="index">
                                        <td class="p-0 px-1 text-center">
                                            <span class="text-sm text-white">{{ disk.id }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-start">
                                            <span class="text-sm text-white">{{ disk.model }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-start">
                                            <span class="text-sm text-white">{{ disk.serial }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: disk.size_total_format.color}">{{ disk.size_total_format.value }} {{ disk.size_total_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: disk.temp_format.color}">{{disk.temp_format.value }} {{ disk.temp_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: disk.read_byte_format.color}">{{disk.read_byte_format.value }} {{ disk.read_byte_format.unit }}</span>
                                        </td>
                                        <td class="p-0 px-1 text-end">
                                            <span class="text-sm" :style="{color: disk.write_byte_format.color}">{{disk.write_byte_format.value }} {{ disk.write_byte_format.unit }}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer pt-3 ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="copyright text-center text-sm text-body">
                            © This program was developed by <a class="text-body text-decoration-underline" href="https://physton.com" target="_blank">Physton</a>, Github: <a class="text-body text-decoration-underline" href="https://github.com/Physton/aio-monitor" target="_blank">Physton/aio-monitor</a>, MIT open source license.
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
</div>

<script src="./assets/sample-bootstrap5-dark-mode/assets/js/bootstrap.min.js"></script>
<script src="./assets/sample-bootstrap5-dark-mode/assets/js/soft-ui-dashboard.min.js"></script>
<script src="./assets/js/vue.v3.3.4.global.min.js"></script>
<script src="./assets/js/axios.v1.5.0.min.js"></script>
<script src="./assets/js/spark-md5.min.js"></script>
<script src="./assets/js/main.js"></script>
</body>
</html>